*,
::before,
::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos gerais
/* 2. Navbar
/* 3. Hero
/* 4. Container
/* 5. Ticker
/* 6. Banners
/* 7. Ad
/* 8. Footer
/* 9. Featured News
/* 10. Join Our Club
/* 11. News
/* 12. Slider
/* 13. Tabs
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
	--clr-bg-light: #F5F5F5;
	--clr-bg-dark: #111111;
	
	--clr-text-light: #FFE5E6;
	--clr-text-dark: #1A0000;
	
	--clr-main: #B50000;

	--ff: "Open Sans", sans-serif;
	--ts-heading-1: 700 4rem/1.2 var(--ff);
	--ts-heading-2: 700 3.3rem/1.2 var(--ff);
	--ts-heading-3: 700 2.7rem/1.2 var(--ff);
	--ts-heading-4: 700 2.3rem/1.2 var(--ff);
	--ts-heading-5: 700 1.9rem/1.2 var(--ff);
	
	--ts-caption: 600 1.6rem/1.2 var(--ff);
	--ts-normal: 400 1.6rem/1.2 var(--ff);
	--ts-semibold: 600 1.4rem/1.2 var(--ff);

	--transition: all 0.3s linear;
	--center-block: calc(((100% - 117rem + 3.2rem) / 2));
}

/**********************************/
/* 1. Estilos gerais
/**********************************/



/**********************************/
/* 2. Navbar
/**********************************/



/**********************************/
/* 3. Hero
/**********************************/



/**********************************/
/* 4. Ticker
/**********************************/



/**********************************/
/* 5. Banners
/**********************************/



/**********************************/
/* 6. Ad
/**********************************/



/**********************************/
/* 7. Footer
/**********************************/



/**********************************/
/* 8. Featured News
/**********************************/



/**********************************/
/* 9. Join Our Club
/**********************************/



/**********************************/
/* 10. News
/**********************************/



/**********************************/
/* 11. Slider
/**********************************/



/**********************************/
/* 12. Tabs
/**********************************/

